@import url('header.css');
@import url('index-main.css');
@import url('login-panel.css');

.clearfix:after{
	content: '';
	display: table;
	visibility: hidden;
	clear: both;
}

body{
	display: none;
}