/*@login-panel 登录模态框*/
#login-panel{
	
}

#login-panel .bg{
	height: 568px;
	background-image: url('../img/tcbg.png');
	background-size: 598px 568px;
	background-color: transparent;
	background-repeat: no-repeat;
	padding-top: 20px;
	position: relative;
	overflow: hidden;
}

#login-panel .panel-header{
	height: 167px;
	border: 0;
}

#login-panel .panel-body{
	padding: 38px 40px;
}

#login-panel .form-group{
	padding-left: 50px;
	position: relative;
}

#login-panel .form-group:nth-child(2){
	padding-right: 100px;
}

#login-panel .form-group:nth-child(3){
	padding-left: 0;
	margin-bottom: 0;
}

#login-panel .form-group:after{
	content: '';
	display: table;
	visibility: hidden;
	clear: both;
}

#login-panel label{
	width: 50px;
	height: 50px;
	margin-left: -50px;
	float: left;
	border: 1px solid #ccc;
	border-radius: 4px 0 0 4px;
	background-color: rgb(238, 238, 238);
	text-align: center;
	line-height: 48px;
	border-right: 0;
	position: relative;
	z-index: 1;
}

#login-panel label i:before{
	font-size: 17px;
}

#login-panel input{
	display: block;
	border-radius: 0 4px 4px 0;
	height: 50px;
	font-size: 18px;
	position: relative;
	z-index: 2;
}

#login-panel input[type='password']{
	border-radius: 0;
}

#login-panel .submit{
	width: 100px;
	height: 50px;
	box-sizing: border-box;
	color: #fff;
	background-color: rgb(92, 184, 92);
	border-radius: 0 4px 4px 0;
	position: absolute;
	top: 0;
	right: 0;
	border: 0;
	line-height: 50px;
	font-size: 18px;
	border: 1px solid rgb(92, 184, 92);
	border-left: 0;
	letter-spacing: 10px;
	text-indent: 10px;
}

#login-panel .submit:hover{
	border: 1px solid #398439;
	border-left: 0;
	background-color: rgb(68, 157, 68);
}

#login-panel a{
	color: #337ab7;
	text-decoration: none;
	font-size: 14px;
}

#login-panel a:hover{
	text-decoration: underline;
	color: rgb(35, 82, 124);
}

#login-panel .forget{
	float: left;
}

#login-panel .register{
	float: right;
}

#login-panel .panel-footer ul,#login-panel .panel-footer li{
	list-style: none;
}

#login-panel .panel-footer{
	height: 85px;
	border: 0;
	background-color: #fff;
	padding-top: 0;
	padding-bottom: 0;
	text-align: center;
	margin-top: -10px;
}

#login-panel .panel-footer ul{
	padding: 0;
	margin: 0;
}

#login-panel .panel-footer li{
	display: inline-block;
}

#login-panel .panel-footer a{
	display: block;
	width: 85px;
	height: 85px;
	box-sizing: border-box;
	border: 1px solid #E7E7E7;
	margin: 0 10px;
	border-radius: 50%;
	background-repeat: no-repeat;
	background-size: 85px 85px;
	transition: background 0.5s;
}

#login-panel .panel-footer a:hover{
	background-color: rgb(253, 211, 28);
}

#login-panel .panel-footer li:nth-child(1) a{
	background-image: url('../img/qq.png');
}

#login-panel .panel-footer li:nth-child(2) a{
	background-image: url('../img/sina.png');
}

#login-panel .panel-footer li:nth-child(3) a{
	background-image: url('../img/zfb.png');
}

#login-panel .panel-footer li:nth-child(4) a{
	background-image: url('../img/git.png');
}

@media screen and (min-width: 768px){
	#login-panel .close{
		width: 20px;
		opacity: 0;
	}
	#login-panel .bg-wrap,#login-panel .mask-close{
		display: none;
	}
}
@media screen and (max-width: 768px){
	#login-panel .panel-header{
		border-bottom: 1px solid rgb(219, 219, 219);
	}
	#login-panel .close{
		z-index: 4;
		position: relative;
	}
	#login-panel .bg-wrap{
		display: block;
		width: 100%;
		height: 540px;
		position: absolute;
		left: 0;
		top: 28px;
		background-color: #fff;
		z-index: -9999;
		border-radius: 4px;
	}
	#login-panel .mask-close{
		display: block;
		width: 60px;
		height: 40px;
		background-color: #fff;
		position: absolute;
		top: 28px;
		left: 540px;
		z-index: 3;
	}
}
@media screen and (max-width: 483px){
	#login-panel .panel-footer{
		height: 140px;
	}
	#login-panel .panel-footer a{margin: 0 10px;
		width: 45px;
		height: 45px;
		background-size: 45px 45px;
	}
}
@media screen and (max-width: 468px){
	#login-panel .panel-footer a{
		margin: 0 5px;
	}
	#login-panel .panel-footer li:first-child a{
		margin-left: 0;
	}
	#login-panel .panel-footer li:last-child a{
		margin-right: 0;
	}
}
@media screen and (max-width: 400px){
	#login-panel .panel-body{
		padding: 38px 10px;
	}
	#login-panel .form-group:nth-child(2){
		padding-right: 50px;
	}
	#login-panel input{
		font-size: 16px;
	}
	#login-panel .submit{
		width: 50px;
		letter-spacing: 0;
		text-indent: 0;
		font-size: 14px;
	}
}
